@import "../../scss/use/all.scss";
.xm-side-menu{
    text-align: left;
    color: $admin-side-menu-color;
    >li{
        position: relative;
        z-index: 1000;
        &:hover{
            .xm-side-menu-tooltip{
                display: block;
            }
        }
    }
    .xm-side-menu-label{
        position: relative;
        padding:10px 0;
        padding-left: 25px;
        box-sizing: border-box;
        cursor: pointer;
        @include transition();
        &:hover{
            background-color: $admin-side-menu-hover-bg;
            color: $admin-side-menu-hover-color;
        }
        .xm-icon{
            margin-right: 10px;
        }
        .fa-angle-down{
            @include yMiddle();
            @include transition(all .2s);
            right: 10px;
            &.toggle{
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
    .xm-side-menu-children{
        padding-left: 25px;
    }
    .xm-side-menu-tooltip{
        position: absolute;
        left: 100%;
        top: 0;
        word-break: keep-all;
        display: none;
        background-color: $admin-side-menu-bg;
        border-radius:0 5px 5px 0;
        color: #dcdee5;
        .xm-side-menu-item{
            padding:15px;
        }
    }
}