// $admin-side-menu-bg:#0719dd;
$admin-side-menu-open-width:200px;
$admin-side-menu-close-width:80px;
$admin-side-menu-bg: #323552;
$admin-side-menu-hover-bg:#263445;
$admin-side-menu-color:#1890ff;
$admin-side-menu-hover-color:#dddddd;

$admin-container-info-bg:#ffffff;
$admin-container-info-height:50px;

$admin-container-view-bg:#E2E5EE;

$login-bg:$admin-side-menu-bg;
$login-color:#ffffff;